:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.container {
    display: flex;
    justify-content: space-evenly;
    
    width: 75%;
    height: 100%;

    app-option {
        width: 30%;
    }
}