<header>
  <h1>Rock Paper Scissors</h1>
</header>
<main>
  <app-opponent></app-opponent>
  <div *ngIf="result===null; else recivedResult">
    <p>Rock, paper, scissors?</p>
  </div>
  <ng-template #recivedResult>
    <div>
      <ng-container *ngIf="result==='pc'">
        <p class="lose">You lost.</p>
        <p>Maybe next time you'll win?</p>
      </ng-container>
      <ng-container *ngIf="result==='player'">
        <p class="win">You won this battle.</p>
        <p>Don't get ahead of yourself. I'll beat you next time.</p>
      </ng-container>
      <ng-container *ngIf="result==='draw'">
        <p class="draw">It's a draw.</p>
        <p>Brilliant minds think alike. </p>
      </ng-container>
      <p class="tip">If you want to play again click on your option.</p>
    </div>
  </ng-template>
  <app-options></app-options>
</main>
<footer>

</footer>