:host {
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

header, footer {
    flex-basis: 10%;
    background-color: rgb(27, 0, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 80%;
    background-color: rgb(38, 0, 110);
    padding: 5%;

    p {
        font-size: 1.5rem;
        text-align: center;
    }

    .tip {
        text-align: center;
        font-size: 0.7rem;
    }

    .win {
        color: lightgreen;
    }

    .lose {
        color: lightcoral;
    }

    .draw {
        color: yellow;
    }
}